*{
  font-family:Raleway, sans-serif;
  font-size: 1.2rem;
  letter-spacing: .15rem;
  line-height:1.618rem;
}

body{
  background-size:cover;
}

p{
  font-weight:300;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

.container-lg{
    min-height:400px;
}

footer ul li a:hover {
  color: #2196f3 ;
}

footer ul li a{
  color: white;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.material-placeholder{
  margin:20px 0;
}

a.link:hover{
  color:#e91e63;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #e91e63   !important;
 }

/* label underline focus color */
 .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e91e63   !important;
  box-shadow: 0 1px 0 0 #e91e63   !important;
 }

 /* label focus color */
.input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #e91e63   !important;
 }

/* label underline focus color */
 .input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e91e63   !important;
  box-shadow: 0 1px 0 0 #e91e63   !important;
 }

